<div class="container-fluid">
  <div class="row text-center">
     <div class="col-md-12">
       <h1> Welcome to the place sharing site! </h1>
         <p>
           <a class="btn btn-primary btn-lg" href="<%= new_user_session_path %>" role="button">
              Sharing Now!
           </a>
         </p>
      </div>
  </div>
</div>
